<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kkldfkld.myapplication" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".P000Menu">
        </activity>

        <activity android:name=".P001ListActivity2_extends_ListActivity"></activity>
        <activity android:name=".P001ListActivity_extends_Activity"></activity>

        <activity android:name=".P002Intent"></activity>
        <activity android:name=".P002IntentYakala"></activity>
        <activity android:name=".P002IntentYakalaCheckBox"></activity>

        <activity android:name=".P003TextPlay"></activity>

        <activity android:name=".P004SetInputType"></activity>

        <activity android:name=".P005NormalMenuItem"></activity>
        <activity android:name=".P005Activity">
            <intent-filter>
                <action android:name="com.example.kkldfkld.myapplication.P005ACTIVITY"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".P005Activity2">
            <intent-filter>
                <action android:name="com.example.kkldfkld.myapplication.P005ACTIVITY2"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <activity android:name=".P005Preference" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".P005PreferenceGetInfo"></activity>

        <activity android:name=".P006CoolMenuItem"></activity>
        <activity android:name=".P006MusicOn"></activity>
        <activity android:name=".P006AbouthUs">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
                <action android:name="com.example.kkldfkld.myapplication.P006ABOUTHUS"></action>
            </intent-filter>
        </activity>

        <activity android:name=".P007CreateUserFaceOnlyJavaCode"></activity>
        <activity android:name=".P007CreateUserFaceOnlyJavaCode2"></activity>

        <activity android:name=".P008GridLayout_Implements_View_OnClickListener"></activity>

        <activity android:name=".P009ListViewCustomRow"></activity>

        <activity android:name=".P010GestureDetectorCompat"></activity>

        <activity android:name=".P011NotificationCompatBuilder"></activity>

        <activity android:name=".P012SharedPreferences"></activity>

        <activity android:name=".P013DrawableBitmapLayerDrawable"></activity>

        <activity android:name=".P015RadioGroup"></activity>

        <activity android:name=".P016StyleTheme"
            android:theme="@style/Theme.AppCompat.Dialog.themeDeneme"></activity>

        <activity android:name=".P017DrawableIcon"></activity>

        <activity android:name=".P018CanvasGball"></activity>

        <activity android:name=".P019WebView"></activity>

        <activity android:name=".P020TabHostTabSpec"></activity>

        <activity android:name=".P021FileOutputStream"></activity>

        <activity android:name=".P022AsyncTaskClass"></activity>

        <activity android:name=".P023Spinner"></activity>

        <activity android:name=".P025Dialog"></activity>

        <activity android:name=".P026AlertDialog"></activity>

        <activity android:name=".P027SQLiteDatabaseClass"></activity>

        <activity android:name=".P028SharedPreferences"></activity>
        <activity android:name=".P028NextActivity"></activity>

        <activity android:name=".P029InternalStorage"></activity>
        <activity android:name=".P029NextActivity"></activity>

        <activity android:name=".P030TeaspoonConversion"></activity>


        <activity android:name=".P032PreferencesNot" ></activity>
        <activity android:name=".P032SettingActivity"></activity>

        <activity android:name=".P034GetDefaultSharedPreferences"></activity>
        <activity android:name=".P034PreferenceActivity"
            android:theme="@android:style/Theme.Dialog"></activity>


        <activity android:name=".P014EmailTasarim"></activity>
        <activity android:name=".P033VideoView"></activity>

    </application>

</manifest>

    <!--android:screenOrientation="portrait">  Activity ekranini sabitler-->
    <!--android:theme="@style/jungle_theme">  Activity theme custom olarak sen tasarla!... -->

